@font-face {
  font-family: "iconfont"; /* Project id 3829187 */
  src: url('iconfont.woff2?t=1671174149501') format('woff2'),
       url('iconfont.woff?t=1671174149501') format('woff'),
       url('iconfont.ttf?t=1671174149501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e600";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-xihuan1:before {
  content: "\e870";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-danquxunhuan:before {
  content: "\e612";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-shengyinkai:before {
  content: "\eca6";
}

.icon-suijibofang:before {
  content: "\e603";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

